.create-form-container {
  width: 700px;
  margin: 10px auto;
  border-radius: 5px;
  border: 8px solid rgba(255, 255, 255, 1);
  padding: 10px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  align-items: center;

  .create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.enter-form-container {
  @extend .create-form-container;

  .create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}