.mo-btn-container {
  margin: 0 auto;
  .mo-btn {
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    background: #9a2000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
  }
}