@import "../../styles/variables";
.mo-btn-container {
  margin: 0 auto;
  .mo-btn {
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    background: #9a2000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    font-family: $mo-main-font;
  }
  .btn-submit {
    @extend .mo-btn;
    background: #9a2000;
  }
  .btn-success {
    @extend .mo-btn;
    background: #26a0b7;
  }
  .btn-warning {
    @extend .mo-btn;
    background: #ad6e11;
  }
}