.header-container {
  height: 100px;
  background: rgba(62, 32, 88, 0.6);
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  a {
    color: #fff;
    margin-left: 10px;
  }
}